/* * {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: blueviolet;
}

#item {
  width: 35px;
  height: 45px;
  border: solid 5px green;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
} */
* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  background-color: black;
}

#item {
  width: 45px;
  height: 55px;
  border: ridge 7px green;
  text-align: center;
  border: 6px solid aqua;
  box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
  z-index: 10;
  animation: 3s ease-in-out infinite;

  animation-name: spin;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(360deg);
  }
  67% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
