* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 800px;
  border: 8px solid black;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 250px 250px 250px 250px;
  grid-template-areas:
    "box1 box2 box3 box4"
    "box1 box5 box5 box4"
    "box6 box5 box5 box7"
    "box8 box8 box9 box7";
  gap: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: teal;
  font-size: 40pt;
}
